/* for staff*/
#eventDataTableHeading{
text-align:center;
}

#eventFormHeading{
text-align:center;
}
input[type=submit] {
text-align:center;
}

#eventEditButton{
margin-left:0px%;
width:120px;
height:40px;
}
#eventDeleteButton{
width:120px;
height:40px;
}


