/* for staff*/
#noticeDataTableHeading{
text-align:center;
}

#noticeFormHeading{
text-align:center;
}
input[type=submit] {
text-align:center;
}

#noticeEditButton{
margin-left:0px%;
width:120px;
height:40px;
}
#noticeDeleteButton{
width:120px;
height:40px;
}


