/* for teacher*/
#teacherDataTableHeading{
text-align:center;
}

#teacherFormHeading{
text-align:center;
}
input[type=submit] {
text-align:center;
}

#teacherEditButton{
margin-left:0px;
width:120px;
height:40px;
}
#teacherDeleteButton{
width:120px;
height:40px;
}






