{% extends 'base.html' %}

{% block content %}
<br>
<h3 id="eventDataTableHeading">Event List Is Given Below</h3>
<hr>
<table class="table table-striped table-bordered" style="width:100%" id="eventTable">
<thead>

<tr>
    <td>Event Heading</td>
    <td>Event Location</td>
    <td>Event Details</td>
    <td>Published Date</td>
</tr>
</thead>
<tbody>
{% for t in event %}
<tr>
    <td><b>{{t.event_heading}}</b></td>
    <td>{{t.event_location}}</td>
    <td>{{t.event_details}}</td>
    <td>{{t.event_date}}</td>

</tr>
{% endfor %}

</tbody>


</table>



{% endblock %}